body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

#grid-container {
    display: grid;
    border: 1px solid #fff;
}

.grid-cell {
}

.ball {
    position: absolute;
    border-radius: 50%;
}

#day-count, #night-count {
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: monospace;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#day-count {
    top: 10px;
    left: 10px;
}

#night-count {
    top: 50px;
    left: 10px;
}
